$blue: #37a9e0;
$green: #279150;
$white: #ffffff;

$grey_000: #f3f3f3;
$grey_100: #fafafa;
$grey_200: #e5e5e5;
$grey_300: #e0e0e0;
$grey_400: #a5a4a5;
$grey_500: #7c7a7b;
$grey_600: #4c494b;

$primary: $green;
